### 임대상가 결측치 채우기

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
test_df = pd.read_csv('new_test.csv')
test_df

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,189840.0,0.0,2.0,683.0
1,1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,249930.0,0.0,2.0,683.0
2,2,C1072,754,아파트,경기도,국민임대,46.9,112,14.0,H,36048000.0,249930.0,0.0,2.0,683.0
3,3,C1072,754,아파트,경기도,국민임대,46.9,120,14.0,H,36048000.0,249930.0,0.0,2.0,683.0
4,4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,1013,C1267,675,아파트,경상남도,영구임대,22.86,14,38.0,C,10876000.0,89230.0,0.0,1.0,467.0
937,1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000.0,106400.0,0.0,2.0,300.0
938,1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000.0,106400.0,0.0,2.0,300.0
939,1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000.0,144600.0,0.0,2.0,300.0
940,1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000.0,166500.0,0.0,2.0,300.0

In [13]:
monthly = test_df[test_df['임대료'].isnull()]
deposit = test_df[test_df['임대보증금'].isnull()]

In [14]:
# 어느 지역에 결측치가 있는지 확인해보자
deposit_area = deposit.groupby('지역')
deposit_area.count()

,Unnamed: 0,단지코드,총세대수,임대건물구분,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
지역,,,,,,,,,,,,,,
강원도,29,29,29,29,29,29,29,29,29,0,0,29,29,29
대전광역시,13,13,13,13,13,13,13,13,13,0,0,13,13,13
부산광역시,27,27,27,27,27,27,27,27,27,0,0,27,27,27
울산광역시,28,28,28,28,28,28,28,28,28,0,0,28,28,28
충청남도,15,15,15,15,15,15,15,15,15,0,0,0,15,15

In [27]:
deposit['임대보증금'] = deposit['임대보증금'].astype(float)
deposit['임대료'] = deposit['임대료'].astype(float)
deposit['전용면적'] = deposit['전용면적'].astype(float)

In [ ]:
# 지역별로 하나씩 제곱미터당 평균 임대료 곱해서 임대료를 채우자!

In [28]:
deposit_kangwon = deposit[deposit['지역'].str.contains('강원')]
deposit_kangwon['임대료'] = deposit_kangwon['전용면적'] * 10120
deposit_kangwon

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
208,261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,NaN,139352.4,0.0,2.0,173.0
209,262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,NaN,231646.8,0.0,2.0,173.0
210,263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,NaN,231849.2,0.0,2.0,173.0
211,264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,NaN,240754.8,0.0,2.0,173.0
212,266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,NaN,241463.2,0.0,2.0,173.0
213,268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,NaN,244802.8,0.0,2.0,173.0
214,269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,280830.0,0.0,2.0,173.0
215,275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,NaN,285282.8,0.0,2.0,173.0
216,276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,290342.8,0.0,2.0,173.0
217,281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,NaN,292771.6,0.0,2.0,173.0
218,283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,NaN,428582.0,0.0,2.0,173.0
219,284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,NaN,429088.0,0.0,2.0,173.0
220,285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,NaN,558320.4,0.0,2.0,173.0
221,286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,NaN,561660.0,0.0,2.0,173.0
222,287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,NaN,839150.4,0.0,2.0,173.0
223,288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,NaN,2515427.2,0.0,2.0,173.0
251,316,C1729,627,상가,강원도,임대상가,13.02,1,0.0,D,NaN,131762.4,0.0,5.0,131.0
252,317,C1729,627,상가,강원도,임대상가,18.54,1,0.0,D,NaN,187624.8,0.0,5.0,131.0
253,318,C1729,627,상가,강원도,임대상가,19.08,1,0.0,D,NaN,193089.6,0.0,5.0,131.0
254,319,C1729,627,상가,강원도,임대상가,21.86,1,0.0,D,NaN,221223.2,0.0,5.0,131.0
255,321,C1729,627,상가,강원도,임대상가,22.28,1,0.0,D,NaN,225473.6,0.0,5.0,131.0
256,322,C1729,627,상가,강원도,임대상가,23.40,1,0.0,D,NaN,236808.0,0.0,5.0,131.0
257,326,C1729,627,상가,강원도,임대상가,27.57,1,0.0,D,NaN,279008.4,0.0,5.0,131.0
258,327,C1729,627,상가,강원도,임대상가,32.21,1,0.0,D,NaN,325965.2,0.0,5.0,131.0
259,328,C1729,627,상가,강원도,임대상가,32.46,1,0.0,D,NaN,328495.2,0.0,5.0,131.0
260,329,C1729,627,상가,강원도,임대상가,34.86,1,0.0,D,NaN,352783.2,0.0,5.0,131.0
261,330,C1729,627,상가,강원도,임대상가,35.76,1,0.0,D,NaN,361891.2,0.0,5.0,131.0
262,331,C1729,627,상가,강원도,임대상가,50.08,1,0.0,D,NaN,506809.6,0.0,5.0,131.0
263,332,C1729,627,상가,강원도,임대상가,240.22,1,0.0,D,NaN,2431026.4,0.0,5.0,131.0

In [29]:
deposit_daejeon = deposit[deposit['지역'].str.contains('대전광역시')]
deposit_daejeon['임대료'] = deposit_daejeon['전용면적'] * 10640
deposit_daejeon

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
76,80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,404320.0,2.0,5.0,428.0
77,82,C1006,1505,상가,대전광역시,임대상가,37.26,1,27.0,D,NaN,396446.4,2.0,5.0,428.0
78,83,C1006,1505,상가,대전광역시,임대상가,37.41,1,27.0,D,NaN,398042.4,2.0,5.0,428.0
79,86,C1006,1505,상가,대전광역시,임대상가,37.49,1,27.0,D,NaN,398893.6,2.0,5.0,428.0
80,87,C1006,1505,상가,대전광역시,임대상가,37.95,1,27.0,D,NaN,403788.0,2.0,5.0,428.0
81,89,C1006,1505,상가,대전광역시,임대상가,38.04,1,27.0,D,NaN,404745.6,2.0,5.0,428.0
82,90,C1006,1505,상가,대전광역시,임대상가,39.33,1,27.0,D,NaN,418471.2,2.0,5.0,428.0
83,91,C1006,1505,상가,대전광역시,임대상가,39.93,1,27.0,D,NaN,424855.2,2.0,5.0,428.0
84,93,C1006,1505,상가,대전광역시,임대상가,54.51,1,27.0,D,NaN,579986.4,2.0,5.0,428.0
85,96,C1006,1505,상가,대전광역시,임대상가,54.60,1,27.0,D,NaN,580944.0,2.0,5.0,428.0
86,97,C1006,1505,상가,대전광역시,임대상가,54.61,1,27.0,D,NaN,581050.4,2.0,5.0,428.0
87,98,C1006,1505,상가,대전광역시,임대상가,75.98,1,27.0,D,NaN,808427.2,2.0,5.0,428.0
88,99,C1006,1505,상가,대전광역시,임대상가,583.40,1,27.0,D,NaN,6207376.0,2.0,5.0,428.0

In [30]:
deposit_busan = deposit[deposit['지역'].str.contains('부산광역시')]
deposit_busan['임대료'] = deposit_busan['전용면적'] * 21600
deposit_busan

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
105,116,C2676,2572,상가,부산광역시,임대상가,15.00,1,25.0,D,NaN,324000.0,0.0,2.0,418.0
106,118,C2676,2572,상가,부산광역시,임대상가,38.00,1,25.0,D,NaN,820800.0,0.0,2.0,418.0
107,120,C2676,2572,상가,부산광역시,임대상가,16.57,1,25.0,D,NaN,357912.0,0.0,2.0,418.0
108,121,C2676,2572,상가,부산광역시,임대상가,18.38,1,25.0,D,NaN,397008.0,0.0,2.0,418.0
109,123,C2676,2572,상가,부산광역시,임대상가,20.90,1,25.0,D,NaN,451440.0,0.0,2.0,418.0
110,127,C2676,2572,상가,부산광역시,임대상가,21.94,1,25.0,D,NaN,473904.0,0.0,2.0,418.0
111,128,C2676,2572,상가,부산광역시,임대상가,23.35,1,25.0,D,NaN,504360.0,0.0,2.0,418.0
112,129,C2676,2572,상가,부산광역시,임대상가,26.25,1,25.0,D,NaN,567000.0,0.0,2.0,418.0
113,131,C2676,2572,상가,부산광역시,임대상가,28.38,1,25.0,D,NaN,613008.0,0.0,2.0,418.0
114,132,C2676,2572,상가,부산광역시,임대상가,28.50,1,25.0,D,NaN,615600.0,0.0,2.0,418.0
115,133,C2676,2572,상가,부산광역시,임대상가,33.15,1,25.0,D,NaN,716040.0,0.0,2.0,418.0
116,134,C2676,2572,상가,부산광역시,임대상가,33.31,1,25.0,D,NaN,719496.0,0.0,2.0,418.0
117,135,C2676,2572,상가,부산광역시,임대상가,33.39,1,25.0,D,NaN,721224.0,0.0,2.0,418.0
118,136,C2676,2572,상가,부산광역시,임대상가,33.51,1,25.0,D,NaN,723816.0,0.0,2.0,418.0
119,139,C2676,2572,상가,부산광역시,임대상가,37.26,1,25.0,D,NaN,804816.0,0.0,2.0,418.0
120,140,C2676,2572,상가,부산광역시,임대상가,37.41,1,25.0,D,NaN,808056.0,0.0,2.0,418.0
121,143,C2676,2572,상가,부산광역시,임대상가,37.49,1,25.0,D,NaN,809784.0,0.0,2.0,418.0
122,144,C2676,2572,상가,부산광역시,임대상가,37.95,1,25.0,D,NaN,819720.0,0.0,2.0,418.0
123,146,C2676,2572,상가,부산광역시,임대상가,38.04,1,25.0,D,NaN,821664.0,0.0,2.0,418.0
124,147,C2676,2572,상가,부산광역시,임대상가,39.33,1,25.0,D,NaN,849528.0,0.0,2.0,418.0
125,150,C2676,2572,상가,부산광역시,임대상가,40.39,1,25.0,D,NaN,872424.0,0.0,2.0,418.0
126,151,C2676,2572,상가,부산광역시,임대상가,54.51,1,25.0,D,NaN,1177416.0,0.0,2.0,418.0
127,154,C2676,2572,상가,부산광역시,임대상가,54.60,1,25.0,D,NaN,1179360.0,0.0,2.0,418.0
128,155,C2676,2572,상가,부산광역시,임대상가,54.61,1,25.0,D,NaN,1179576.0,0.0,2.0,418.0
129,156,C2676,2572,상가,부산광역시,임대상가,75.98,1,25.0,D,NaN,1641168.0,0.0,2.0,418.0
130,157,C2676,2572,상가,부산광역시,임대상가,404.65,1,25.0,D,NaN,8740440.0,0.0,2.0,418.0
131,158,C2676,2572,상가,부산광역시,임대상가,583.40,1,25.0,D,NaN,12601440.0,0.0,2.0,418.0

In [31]:
deposit_ulsan = deposit[deposit['지역'].str.contains('울산광역시')]
deposit_ulsan['임대료'] = deposit_ulsan['전용면적'] * 11320
deposit_ulsan

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
167,201,C2033,1400,상가,울산광역시,임대상가,15.00,1,12.0,D,NaN,169800.0,0.0,7.0,308.0
168,203,C2033,1400,상가,울산광역시,임대상가,16.57,1,12.0,D,NaN,187572.4,0.0,7.0,308.0
169,204,C2033,1400,상가,울산광역시,임대상가,18.38,1,12.0,D,NaN,208061.6,0.0,7.0,308.0
170,206,C2033,1400,상가,울산광역시,임대상가,20.90,1,12.0,D,NaN,236588.0,0.0,7.0,308.0
171,210,C2033,1400,상가,울산광역시,임대상가,21.94,1,12.0,D,NaN,248360.8,0.0,7.0,308.0
172,211,C2033,1400,상가,울산광역시,임대상가,23.35,1,12.0,D,NaN,264322.0,0.0,7.0,308.0
173,212,C2033,1400,상가,울산광역시,임대상가,26.25,1,12.0,D,NaN,297150.0,0.0,7.0,308.0
174,214,C2033,1400,상가,울산광역시,임대상가,28.50,1,12.0,D,NaN,322620.0,0.0,7.0,308.0
175,215,C2033,1400,상가,울산광역시,임대상가,33.15,1,12.0,D,NaN,375258.0,0.0,7.0,308.0
176,216,C2033,1400,상가,울산광역시,임대상가,33.31,1,12.0,D,NaN,377069.2,0.0,7.0,308.0
177,217,C2033,1400,상가,울산광역시,임대상가,33.39,1,12.0,D,NaN,377974.8,0.0,7.0,308.0
178,218,C2033,1400,상가,울산광역시,임대상가,33.51,1,12.0,D,NaN,379333.2,0.0,7.0,308.0
179,220,C2033,1400,상가,울산광역시,임대상가,40.39,1,12.0,D,NaN,457214.8,0.0,7.0,308.0
180,221,C2033,1400,상가,울산광역시,임대상가,61.89,1,12.0,D,NaN,700594.8,0.0,7.0,308.0
181,222,C2033,1400,상가,울산광역시,임대상가,401.50,1,12.0,D,NaN,4544980.0,0.0,7.0,308.0
192,233,C1812,1021,상가,울산광역시,임대상가,9.96,1,22.0,D,NaN,112747.2,0.0,4.0,185.0
193,234,C1812,1021,상가,울산광역시,임대상가,13.07,1,22.0,D,NaN,147952.4,0.0,4.0,185.0
194,235,C1812,1021,상가,울산광역시,임대상가,13.59,1,22.0,D,NaN,153838.8,0.0,4.0,185.0
195,236,C1812,1021,상가,울산광역시,임대상가,14.25,1,22.0,D,NaN,161310.0,0.0,4.0,185.0
196,240,C1812,1021,상가,울산광역시,임대상가,19.15,1,22.0,D,NaN,216778.0,0.0,4.0,185.0
197,241,C1812,1021,상가,울산광역시,임대상가,22.89,1,22.0,D,NaN,259114.8,0.0,4.0,185.0
198,242,C1812,1021,상가,울산광역시,임대상가,23.25,1,22.0,D,NaN,263190.0,0.0,4.0,185.0
199,243,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,314130.0,0.0,4.0,185.0
200,252,C1812,1021,상가,울산광역시,임대상가,28.19,1,22.0,D,NaN,319110.8,0.0,4.0,185.0
201,253,C1812,1021,상가,울산광역시,임대상가,42.35,1,22.0,D,NaN,479402.0,0.0,4.0,185.0
202,254,C1812,1021,상가,울산광역시,임대상가,55.17,1,22.0,D,NaN,624524.4,0.0,4.0,185.0
203,256,C1812,1021,상가,울산광역시,임대상가,248.56,1,22.0,D,NaN,2813699.2,0.0,4.0,185.0
204,257,C1812,1021,상가,울산광역시,임대상가,253.71,1,22.0,D,NaN,2871997.2,0.0,4.0,185.0

In [32]:
deposit_choongnam = deposit[deposit['지역'].str.contains('충청남도')]
deposit_choongnam['임대료'] = deposit_choongnam['전용면적'] * 10000
deposit_choongnam

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
144,171,C2177,1245,상가,충청남도,임대상가,15.00,1,2.0,D,NaN,150000.0,NaN,1.0,187.0
145,173,C2177,1245,상가,충청남도,임대상가,16.57,1,2.0,D,NaN,165700.0,NaN,1.0,187.0
146,174,C2177,1245,상가,충청남도,임대상가,18.38,1,2.0,D,NaN,183800.0,NaN,1.0,187.0
147,176,C2177,1245,상가,충청남도,임대상가,20.90,1,2.0,D,NaN,209000.0,NaN,1.0,187.0
148,180,C2177,1245,상가,충청남도,임대상가,21.94,1,2.0,D,NaN,219400.0,NaN,1.0,187.0
149,181,C2177,1245,상가,충청남도,임대상가,23.35,1,2.0,D,NaN,233500.0,NaN,1.0,187.0
150,182,C2177,1245,상가,충청남도,임대상가,26.25,1,2.0,D,NaN,262500.0,NaN,1.0,187.0
151,184,C2177,1245,상가,충청남도,임대상가,28.50,1,2.0,D,NaN,285000.0,NaN,1.0,187.0
152,185,C2177,1245,상가,충청남도,임대상가,33.15,1,2.0,D,NaN,331500.0,NaN,1.0,187.0
153,186,C2177,1245,상가,충청남도,임대상가,33.31,1,2.0,D,NaN,333100.0,NaN,1.0,187.0
154,187,C2177,1245,상가,충청남도,임대상가,33.39,1,2.0,D,NaN,333900.0,NaN,1.0,187.0
155,188,C2177,1245,상가,충청남도,임대상가,33.51,1,2.0,D,NaN,335100.0,NaN,1.0,187.0
156,190,C2177,1245,상가,충청남도,임대상가,40.39,1,2.0,D,NaN,403900.0,NaN,1.0,187.0
157,191,C2177,1245,상가,충청남도,임대상가,61.89,1,2.0,D,NaN,618900.0,NaN,1.0,187.0
158,192,C2177,1245,상가,충청남도,임대상가,401.50,1,2.0,D,NaN,4015000.0,NaN,1.0,187.0

### 임대상가 임대료 데이터 불러오기
- 한국부동산원_상업용부동산 임대동향조사_임대정보_분기별 지역별 임대료(소규모상가)
- 단위: 제곱미터당 천원

In [33]:
shop_df = pd.read_csv('소규모상가임대료.csv', encoding='cp949')

In [34]:
shop_df['2022평균'] = (shop_df['2022_1분기']+shop_df['2022_2분기'])/2

In [35]:
shop_df

            지역  2022_1분기  2022_2분기  2022평균
0         전체        19.4      19.4   19.40
1         서울        49.0      49.1   49.05
2       서울 도심       65.9      65.9   65.90
3    서울 도심 광화문      81.4      81.5   81.45
4    서울 도심 남대문      62.4      62.6   62.50
..         ...       ...       ...     ...
249       제주        14.1      14.2   14.15
250  제주  광양사거리      12.3      12.3   12.30
251  제주  노형오거리      20.2      20.2   20.20
252  제주  서귀포도심      16.9      17.0   16.95
253  제주  중앙사거리      11.2      11.2   11.20

[254 rows x 4 columns]

In [36]:
kangwon = shop_df[shop_df['지역'].str.contains('강원')]
kangwon # 0.8 곱해서 강원도: 10120 결측치로 채우기

              지역  2022_1분기  2022_2분기  2022평균
159         강원        12.7      12.6   12.65
160     강원  강릉교동      17.3      17.3   17.30
161     강원  강릉중부      10.8      10.8   10.80
162      강원  묵호항      10.1      10.1   10.10
163   강원  삼척중앙시장      10.1      10.1   10.10
164   강원  속초중앙시장      19.4      19.3   19.35
165    강원  영월경찰서      10.6      10.6   10.60
166  강원  원주중앙/일산      16.9      16.8   16.85
167     강원  주문진항      11.7      11.7   11.70
168     강원  춘천명동      14.8      14.8   14.80
169   강원  태백중앙시장      11.0      11.0   11.00

In [37]:
daejeon = shop_df[shop_df['지역'].str.contains('대전')]
daejeon # 0.8 곱해서 대전광역시: 10640 채우기

              지역  2022_1분기  2022_2분기  2022평균
113         대전        13.3      13.3   13.30
114       대전  노은      18.2      17.8   18.00
115    대전  복합터미널      11.4      11.4   11.40
116   대전  서대전네거리      19.2      19.2   19.20
117  대전  용문/한민시장      14.7      14.7   14.70
118      대전  원도심      14.8      14.7   14.75
119    대전  유성온천역      10.6      10.6   10.60

In [38]:
busan = shop_df[shop_df['지역'].str.contains('부산')]
busan # 0.8 곱해서 부산광역시: 21600 채우기

              지역  2022_1분기  2022_2분기  2022평균
60          부산        27.0      27.0   27.00
61   부산  경성대/부경대      34.2      34.3   34.25
62       부산  광안리      24.4      24.4   24.40
63  부산  구서동/금정구청      33.3      33.4   33.35
64       부산  남포동      45.2      45.1   45.15
65       부산  남항동      13.5      13.5   13.50
66       부산  덕천역      32.8      32.8   32.80
67       부산  동래역      28.4      28.5   28.45
68     부산  부산대학앞      34.1      34.6   34.35
69       부산  부산역      27.4      27.4   27.40
70      부산  부전시장      38.0      37.5   37.75
71       부산  사상역      21.4      21.4   21.40
72     부산  사직야구장      27.7      27.5   27.60
73     부산  서면/전포      25.4      25.5   25.45
74    부산  송정해수욕장      20.9      20.9   20.90
75       부산  수영역      26.6      26.6   26.60
76     부산  연산로터리      21.5      21.5   21.50
77       부산  온천장      19.9      20.0   19.95
78       부산  하단역      28.1      28.1   28.10
79       부산  해운대      39.9      40.0   39.95
80   부산  현대백화점주변      18.9      19.0   18.95

In [39]:
ulsan = shop_df[shop_df['지역'].str.contains('울산')]
ulsan # 0.8 곱해서 울산광역시: 11320 채우기

            지역  2022_1분기  2022_2분기  2022평균
120       울산        14.1      14.2   14.15
121    울산  삼산동      14.1      14.2   14.15
122  울산  성남옥교동      12.9      13.1   13.00
123    울산  신정동      14.4      14.4   14.40
124   울산  울산농소      17.8      17.7   17.75
125    울산  울산대      16.7      16.7   16.70
126    울산  전하동      14.7      14.7   14.70

In [40]:
choongnam = shop_df[shop_df['지역'].str.contains('충남')]
choongnam # 0.8 곱해서 충청남도: 10000 채우기

                지역  2022_1분기  2022_2분기  2022평균
179           충남        12.5      12.5   12.50
180     충남  강경젓갈시장       7.5       7.5    7.50
181        충남  공주대      11.6      11.6   11.60
182      충남  공주웅진동      14.6      14.6   14.60
183  충남  논산시외버스터미널      13.5      13.4   13.45
184       충남  당진시청      15.6      15.7   15.65
185         충남  두정      14.1      14.1   14.10
186        충남  배방읍      18.3      18.4   18.35
187    충남  보령문화의전당      12.7      12.7   12.70
188      충남  서산터미널      15.9      15.8   15.85
189       충남  아산온양      13.5      13.5   13.50
190       충남  예산시장       8.4       8.3    8.35
191        충남  천안역      15.5      15.5   15.50
192  충남  천안종합버스터미널      19.7      19.8   19.75
193      충남  태안터미널      10.2      10.2   10.20
194    충남  합덕버스터미널       7.9       7.9    7.90

In [41]:
{'강원도':10120, '경상남도':10160, '대전광역시':10640, '부산광역시':21600, '제주특별자치도':11320, '충청남도':10000}

{'강원도': 10120,
 '경상남도': 10160,
 '대전광역시': 10640,
 '부산광역시': 21600,
 '제주특별자치도': 11320,
 '충청남도': 10000}