### 공공분양 결측치 0으로 채우기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('new_train.csv')
train_df

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2627,2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000.0,0.0,0.0,3.0,1590.0,1595.0
2628,2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000.0,0.0,0.0,3.0,1590.0,1595.0
2629,2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000.0,0.0,0.0,3.0,673.0,645.0
2630,2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000.0,0.0,0.0,3.0,673.0,645.0
2631,2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000.0,0.0,0.0,3.0,673.0,645.0

In [3]:
train_df.isnull().sum()

Unnamed: 0                        0
단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           292
임대료                             292
도보 10분거리 내 지하철역 수(환승노선 수 반영)    155
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [4]:
monthly = train_df[train_df['임대료'].isnull()]
deposit = train_df[train_df['임대보증금'].isnull()]

In [5]:
deposit_type = deposit.groupby('공급유형')
deposit_type.count()
# 일단 데이터가 없는 공공분양을 전부 0으로 채워버리자!

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
공급유형,,,,,,,,,,,,,,,
공공분양,7,7,7,7,7,7,7,7,7,0,0,0,7,7,7
임대상가,285,285,285,285,285,285,285,285,285,0,0,213,285,285,285

In [6]:
monthly_type = monthly.groupby('공급유형')
monthly_type.count()
# 일단 데이터가 없는 공공분양을 전부 0으로 채워버리자!

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
공급유형,,,,,,,,,,,,,,,
공공분양,7,7,7,7,7,7,7,7,7,0,0,0,7,7,7
임대상가,285,285,285,285,285,285,285,285,285,0,0,213,285,285,285

In [7]:
dt = dict(list(deposit_type))

In [8]:
# 공공분양 결측치 채우기 - 데이터 없으니까 전부 0으로
a = dt['공공분양']
a['임대보증금'] = '0'
a['임대료'] = '0'
a

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2014,2331,C1350,1401,아파트,대전광역시,공공분양,74.94,317,2.0,D,0,0,NaN,6.0,1636.0,2315.0
2015,2332,C1350,1401,아파트,대전광역시,공공분양,74.94,137,2.0,D,0,0,NaN,6.0,1636.0,2315.0
2016,2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,0,0,NaN,6.0,1636.0,2315.0
2017,2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,0,0,NaN,6.0,1636.0,2315.0
2018,2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,0,0,NaN,6.0,1636.0,2315.0
2019,2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,0,0,NaN,6.0,1636.0,2315.0
2020,2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,0,0,NaN,6.0,1636.0,2315.0

In [9]:
train_df=pd.concat([train_df,a])

In [53]:
# train_df = train_df.drop([2014,2015,2016,2017,2018,2019,2020], axis=0)
train_df.isnull().sum()

Unnamed: 0                        0
단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           285
임대료                             285
도보 10분거리 내 지하철역 수(환승노선 수 반영)    148
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [54]:
train_df.to_csv('train_revised.csv')

### 임대상가 결측치 채우기

In [14]:
train_df

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2627,2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000.0,0.0,0.0,3.0,1590.0,1595.0
2628,2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000.0,0.0,0.0,3.0,1590.0,1595.0
2629,2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000.0,0.0,0.0,3.0,673.0,645.0
2630,2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000.0,0.0,0.0,3.0,673.0,645.0
2631,2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000.0,0.0,0.0,3.0,673.0,645.0

In [15]:
monthly = train_df[train_df['임대료'].isnull()]
deposit = train_df[train_df['임대보증금'].isnull()]

In [41]:
# 어느 지역에 결측치가 있는지 확인해보자
deposit_area = deposit.groupby('지역')
deposit_area.count()

,Unnamed: 0,단지코드,총세대수,임대건물구분,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
지역,,,,,,,,,,,,,,,
강원도,10,10,10,10,10,10,10,10,10,0,0,10,10,10,10
경상남도,45,45,45,45,45,45,45,45,45,0,0,45,45,45,45
대전광역시,58,58,58,58,58,58,58,58,58,0,0,30,58,58,58
부산광역시,125,125,125,125,125,125,125,125,125,0,0,125,125,125,125
제주특별자치도,3,3,3,3,3,3,3,3,3,0,0,3,3,3,3
충청남도,44,44,44,44,44,44,44,44,44,0,0,0,44,44,44

In [ ]:
# 지역별로 하나씩 제곱미터당 평균 임대료 곱해서 임대료를 채우자!

In [55]:
deposit_kangwon = deposit[deposit['지역'].str.contains('강원')]
deposit_kangwon['임대료'] = deposit_kangwon['전용면적'] * 10120
deposit_kangwon

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
81,88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,324852.0,0.0,4.0,117.0,75.0
82,91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,730259.2,0.0,4.0,117.0,75.0
225,306,C1722,809,상가,강원도,임대상가,32.10,1,1.0,D,NaN,324852.0,0.0,6.0,264.0,649.0
226,311,C1722,809,상가,강원도,임대상가,72.16,1,1.0,D,NaN,730259.2,0.0,6.0,264.0,649.0
441,649,C1206,755,상가,강원도,임대상가,31.84,1,1.0,D,NaN,322220.8,0.0,4.0,88.0,90.0
442,657,C1206,755,상가,강원도,임대상가,63.68,1,1.0,D,NaN,644441.6,0.0,4.0,88.0,90.0
443,658,C1206,755,상가,강원도,임대상가,137.49,1,1.0,D,NaN,1391398.8,0.0,4.0,88.0,90.0
543,811,C2212,697,상가,강원도,임대상가,31.84,1,0.0,D,NaN,322220.8,0.0,4.0,128.0,86.0
544,817,C2212,697,상가,강원도,임대상가,63.68,1,0.0,D,NaN,644441.6,0.0,4.0,128.0,86.0
545,821,C2212,697,상가,강원도,임대상가,137.49,1,0.0,D,NaN,1391398.8,0.0,4.0,128.0,86.0

In [56]:
deposit_kyungnam = deposit[deposit['지역'].str.contains('경상남도')]
deposit_kyungnam['임대료'] = deposit_kyungnam['전용면적'] * 10160
deposit_kyungnam

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
110,133,C2416,560,상가,경상남도,임대상가,19.69,1,0.0,D,NaN,200050.4,0.0,5.0,154.0,63.0
111,134,C2416,560,상가,경상남도,임대상가,27.12,1,0.0,D,NaN,275539.2,0.0,5.0,154.0,63.0
112,135,C2416,560,상가,경상남도,임대상가,32.54,1,0.0,D,NaN,330606.4,0.0,5.0,154.0,63.0
113,136,C2416,560,상가,경상남도,임대상가,36.43,1,0.0,D,NaN,370128.8,0.0,5.0,154.0,63.0
114,137,C2416,560,상가,경상남도,임대상가,46.89,1,0.0,D,NaN,476402.4,0.0,5.0,154.0,63.0
115,138,C2416,560,상가,경상남도,임대상가,49.99,1,0.0,D,NaN,507898.4,0.0,5.0,154.0,63.0
116,139,C2416,560,상가,경상남도,임대상가,51.14,1,0.0,D,NaN,519582.4,0.0,5.0,154.0,63.0
117,140,C2416,560,상가,경상남도,임대상가,317.17,1,0.0,D,NaN,3222447.2,0.0,5.0,154.0,63.0
234,319,C2190,1013,상가,경상남도,임대상가,16.00,1,7.0,D,NaN,162560.0,0.0,2.0,178.0,129.0
235,320,C2190,1013,상가,경상남도,임대상가,14.17,1,7.0,D,NaN,143967.2,0.0,2.0,178.0,129.0
236,321,C2190,1013,상가,경상남도,임대상가,18.90,1,7.0,D,NaN,192024.0,0.0,2.0,178.0,129.0
237,322,C2190,1013,상가,경상남도,임대상가,20.52,1,7.0,D,NaN,208483.2,0.0,2.0,178.0,129.0
238,323,C2190,1013,상가,경상남도,임대상가,22.97,1,7.0,D,NaN,233375.2,0.0,2.0,178.0,129.0
239,325,C2190,1013,상가,경상남도,임대상가,23.40,1,7.0,D,NaN,237744.0,0.0,2.0,178.0,129.0
240,329,C2190,1013,상가,경상남도,임대상가,25.88,1,7.0,D,NaN,262940.8,0.0,2.0,178.0,129.0
241,330,C2190,1013,상가,경상남도,임대상가,27.30,1,7.0,D,NaN,277368.0,0.0,2.0,178.0,129.0
242,331,C2190,1013,상가,경상남도,임대상가,29.62,1,7.0,D,NaN,300939.2,0.0,2.0,178.0,129.0
243,332,C2190,1013,상가,경상남도,임대상가,30.62,1,7.0,D,NaN,311099.2,0.0,2.0,178.0,129.0
244,333,C2190,1013,상가,경상남도,임대상가,35.91,1,7.0,D,NaN,364845.6,0.0,2.0,178.0,129.0
245,334,C2190,1013,상가,경상남도,임대상가,44.63,1,7.0,D,NaN,453440.8,0.0,2.0,178.0,129.0
246,335,C2190,1013,상가,경상남도,임대상가,46.80,1,7.0,D,NaN,475488.0,0.0,2.0,178.0,129.0
249,338,C1476,453,상가,경상남도,임대상가,32.10,1,6.0,D,NaN,326136.0,0.0,5.0,107.0,70.0
250,343,C1476,453,상가,경상남도,임대상가,72.16,1,6.0,D,NaN,733145.6,0.0,5.0,107.0,70.0
429,624,C1899,451,상가,경상남도,임대상가,32.10,1,0.0,D,NaN,326136.0,0.0,4.0,109.0,31.0
474,702,C1790,657,상가,경상남도,임대상가,15.00,1,2.0,D,NaN,152400.0,0.0,4.0,166.0,120.0
475,703,C1790,657,상가,경상남도,임대상가,19.15,1,2.0,D,NaN,194564.0,0.0,4.0,166.0,120.0
476,704,C1790,657,상가,경상남도,임대상가,19.25,1,2.0,D,NaN,195580.0,0.0,4.0,166.0,120.0
477,706,C1790,657,상가,경상남도,임대상가,22.89,1,2.0,D,NaN,232562.4,0.0,4.0,166.0,120.0
478,707,C1790,657,상가,경상남도,임대상가,23.25,1,2.0,D,NaN,236220.0,0.0,4.0,166.0,120.0
479,708,C1790,657,상가,경상남도,임대상가,23.88,1,2.0,D,NaN,242620.8,0.0,4.0,166.0,120.0
480,709,C1790,657,상가,경상남도,임대상가,23.91,1,2.0,D,NaN,242925.6,0.0,4.0,166.0,120.0
481,710,C1790,657,상가,경상남도,임대상가,24.38,1,2.0,D,NaN,247700.8,0.0,4.0,166.0,120.0
482,712,C1790,657,상가,경상남도,임대상가,27.50,1,2.0,D,NaN,279400.0,0.0,4.0,166.0,120.0
483,714,C1790,657,상가,경상남도,임대상가,27.75,1,2.0,D,NaN,281940.0,0.0,4.0,166.0,120.0
484,722,C1790,657,상가,경상남도,임대상가,28.19,1,2.0,D,NaN,286410.4,0.0,4.0,166.0,120.0
485,723,C1790,657,상가,경상남도,임대상가,28.88,1,2.0,D,NaN,293420.8,0.0,4.0,166.0,120.0
486,728,C1790,657,상가,경상남도,임대상가,42.35,1,2.0,D,NaN,430276.0,0.0,4.0,166.0,120.0
487,729,C1790,657,상가,경상남도,임대상가,55.17,1,2.0,D,NaN,560527.2,0.0,4.0,166.0,120.0
488,730,C1790,657,상가,경상남도,임대상가,82.92,1,2.0,D,NaN,842467.2,0.0,4.0,166.0,120.0
489,731,C1790,657,상가,경상남도,임대상가,248.56,1,2.0,D,NaN,2525369.6,0.0,4.0,166.0,120.0
492,734,C2109,495,상가,경상남도,임대상가,31.84,1,2.0,D,NaN,323494.4,0.0,4.0,117.0,60.0
493,748,C2109,495,상가,경상남도,임대상가,126.65,1,2.0,D,NaN,1286764.0,0.0,4.0,117.0,60.0
498,753,C1698,460,상가,경상남도,임대상가,32.10,1,1.0,D,NaN,326136.0,0.0,3.0,155.0,65.0
550,826,C2571,481,상가,경상남도,임대상가,31.84,1,5.0,D,NaN,323494.4,0.0,1.0,65.0,62.0
551,838,C2571,481,상가,경상남도,임대상가,126.65,1,5.0,D,NaN,1286764.0,0.0,1.0,65.0,62.0

In [57]:
deposit_daejeon = deposit[deposit['지역'].str.contains('대전광역시')]
deposit_daejeon['임대료'] = deposit_daejeon['전용면적'] * 10640
deposit_daejeon

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
136,161,C2621,1396,상가,대전광역시,임대상가,31.84,1,26.0,D,NaN,338777.6,1.0,4.0,277.0,133.0
137,169,C2621,1396,상가,대전광역시,임대상가,63.68,1,26.0,D,NaN,677555.2,1.0,4.0,277.0,133.0
138,170,C2621,1396,상가,대전광역시,임대상가,137.49,1,26.0,D,NaN,1462893.6,1.0,4.0,277.0,133.0
147,179,C1616,1507,상가,대전광역시,임대상가,38.00,1,1.0,D,NaN,404320.0,NaN,2.0,407.0,98.0
148,181,C1616,1507,상가,대전광역시,임대상가,37.26,1,1.0,D,NaN,396446.4,NaN,2.0,407.0,98.0
149,182,C1616,1507,상가,대전광역시,임대상가,37.41,1,1.0,D,NaN,398042.4,NaN,2.0,407.0,98.0
150,185,C1616,1507,상가,대전광역시,임대상가,37.49,1,1.0,D,NaN,398893.6,NaN,2.0,407.0,98.0
151,186,C1616,1507,상가,대전광역시,임대상가,37.95,1,1.0,D,NaN,403788.0,NaN,2.0,407.0,98.0
152,188,C1616,1507,상가,대전광역시,임대상가,38.04,1,1.0,D,NaN,404745.6,NaN,2.0,407.0,98.0
153,189,C1616,1507,상가,대전광역시,임대상가,39.33,1,1.0,D,NaN,418471.2,NaN,2.0,407.0,98.0
154,192,C1616,1507,상가,대전광역시,임대상가,54.51,1,1.0,D,NaN,579986.4,NaN,2.0,407.0,98.0
155,193,C1616,1507,상가,대전광역시,임대상가,54.61,1,1.0,D,NaN,581050.4,NaN,2.0,407.0,98.0
156,194,C1616,1507,상가,대전광역시,임대상가,54.91,1,1.0,D,NaN,584242.4,NaN,2.0,407.0,98.0
157,195,C1616,1507,상가,대전광역시,임대상가,75.98,1,1.0,D,NaN,808427.2,NaN,2.0,407.0,98.0
158,196,C1616,1507,상가,대전광역시,임대상가,109.11,1,1.0,D,NaN,1160930.4,NaN,2.0,407.0,98.0
159,197,C1616,1507,상가,대전광역시,임대상가,583.40,1,1.0,D,NaN,6207376.0,NaN,2.0,407.0,98.0
162,200,C1704,639,상가,대전광역시,임대상가,31.84,1,34.0,D,NaN,338777.6,NaN,7.0,162.0,131.0
163,214,C1704,639,상가,대전광역시,임대상가,126.65,1,34.0,D,NaN,1347556.0,NaN,7.0,162.0,131.0
167,218,C2258,965,상가,대전광역시,임대상가,19.00,1,13.0,D,NaN,202160.0,NaN,3.0,287.0,78.0
168,219,C2258,965,상가,대전광역시,임대상가,14.10,1,13.0,D,NaN,150024.0,NaN,3.0,287.0,78.0
169,220,C2258,965,상가,대전광역시,임대상가,19.31,1,13.0,D,NaN,205458.4,NaN,3.0,287.0,78.0
170,221,C2258,965,상가,대전광역시,임대상가,21.19,1,13.0,D,NaN,225461.6,NaN,3.0,287.0,78.0
171,223,C2258,965,상가,대전광역시,임대상가,22.95,1,13.0,D,NaN,244188.0,NaN,3.0,287.0,78.0
172,224,C2258,965,상가,대전광역시,임대상가,23.40,1,13.0,D,NaN,248976.0,NaN,3.0,287.0,78.0
173,228,C2258,965,상가,대전광역시,임대상가,27.23,1,13.0,D,NaN,289727.2,NaN,3.0,287.0,78.0
174,229,C2258,965,상가,대전광역시,임대상가,31.85,1,13.0,D,NaN,338884.0,NaN,3.0,287.0,78.0
175,230,C2258,965,상가,대전광역시,임대상가,32.29,1,13.0,D,NaN,343565.6,NaN,3.0,287.0,78.0
176,231,C2258,965,상가,대전광역시,임대상가,35.13,1,13.0,D,NaN,373783.2,NaN,3.0,287.0,78.0
177,232,C2258,965,상가,대전광역시,임대상가,36.47,1,13.0,D,NaN,388040.8,NaN,3.0,287.0,78.0
178,233,C2258,965,상가,대전광역시,임대상가,50.08,1,13.0,D,NaN,532851.2,NaN,3.0,287.0,78.0
179,234,C2258,965,상가,대전광역시,임대상가,240.22,1,13.0,D,NaN,2555940.8,NaN,3.0,287.0,78.0
189,244,C2038,785,상가,대전광역시,임대상가,19.00,1,7.0,D,NaN,202160.0,1.0,10.0,150.0,108.0
190,245,C2038,785,상가,대전광역시,임대상가,14.10,1,7.0,D,NaN,150024.0,1.0,10.0,150.0,108.0
191,246,C2038,785,상가,대전광역시,임대상가,19.31,1,7.0,D,NaN,205458.4,1.0,10.0,150.0,108.0
192,247,C2038,785,상가,대전광역시,임대상가,21.19,1,7.0,D,NaN,225461.6,1.0,10.0,150.0,108.0
193,249,C2038,785,상가,대전광역시,임대상가,22.95,1,7.0,D,NaN,244188.0,1.0,10.0,150.0,108.0
194,250,C2038,785,상가,대전광역시,임대상가,23.40,1,7.0,D,NaN,248976.0,1.0,10.0,150.0,108.0
195,254,C2038,785,상가,대전광역시,임대상가,27.23,1,7.0,D,NaN,289727.2,1.0,10.0,150.0,108.0
196,255,C2038,785,상가,대전광역시,임대상가,31.85,1,7.0,D,NaN,338884.0,1.0,10.0,150.0,108.0
197,256,C2038,785,상가,대전광역시,임대상가,32.29,1,7.0,D,NaN,343565.6,1.0,10.0,150.0,108.0
198,257,C2038,785,상가,대전광역시,임대상가,35.13,1,7.0,D,NaN,373783.2,1.0,10.0,150.0,108.0
199,258,C2038,785,상가,대전광역시,임대상가,36.47,1,7.0,D,NaN,388040.8,1.0,10.0,150.0,108.0
200,259,C2038,785,상가,대전광역시,임대상가,50.08,1,7.0,D,NaN,532851.2,1.0,10.0,150.0,108.0
201,260,C2038,785,상가,대전광역시,임대상가,240.22,1,7.0,D,NaN,2555940.8,1.0,10.0,150.0,108.0
206,266,C1859,2424,상가,대전광역시,임대상가,38.00,1,1.0,D,NaN,404320.0,1.0,4.0,487.0,116.0
207,268,C1859,2424,상가,대전광역시,임대상가,31.84,1,1.0,D,NaN,338777.6,1.0,4.0,487.0,116.0
208,282,C1859,2424,상가,대전광역시,임대상가,37.26,1,1.0,D,NaN,396446.4,1.0,4.0,487.0,116.0
209,283,C1859,2424,상가,대전광역시,임대상가,37.41,1,1.0,D,NaN,398042.4,1.0,4.0,487.0,116.0
210,286,C1859,2424,상가,대전광역시,임대상가,37.49,1,1.0,D,NaN,398893.6,1.0,4.0,487.0,116.0
211,287,C1859,2424,상가,대전광역시,임대상가,37.95,1,1.0,D,NaN,403788.0,1.0,4.0,487.0,116.0
212,289,C1859,2424,상가,대전광역시,임대상가,38.04,1,1.0,D,NaN,404745.6,1.0,4.0,487.0,116.0
213,290,C1859,2424,상가,대전광역시,임대상가,39.33,1,1.0,D,NaN,418471.2,1.0,4.0,487.0,116.0
214,293,C1859,2424,상가,대전광역시,임대상가,54.51,1,1.0,D,NaN,579986.4,1.0,4.0,487.0,116.0
215,296,C1859,2424,상가,대전광역시,임대상가,54.60,1,1.0,D,NaN,580944.0,1.0,4.0,487.0,116.0
216,297,C1859,2424,상가,대전광역시,임대상가,54.61,1,1.0,D,NaN,581050.4,1.0,4.0,487.0,116.0
217,298,C1859,2424,상가,대전광역시,임대상가,75.98,1,1.0,D,NaN,808427.2,1.0,4.0,487.0,116.0
218,299,C1859,2424,상가,대전광역시,임대상가,126.65,1,1.0,D,NaN,1347556.0,1.0,4.0,487.0,116.0
219,300,C1859,2424,상가,대전광역시,임대상가,583.40,1,1.0,D,NaN,6207376.0,1.0,4.0,487.0,116.0

In [58]:
deposit_busan = deposit[deposit['지역'].str.contains('부산광역시')]
deposit_busan['임대료'] = deposit_busan['전용면적'] * 21600
deposit_busan

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
271,371,C2135,1116,상가,부산광역시,임대상가,14.10,1,10.0,D,NaN,304560.0,1.0,3.0,262.0,127.0
272,372,C2135,1116,상가,부산광역시,임대상가,18.98,1,10.0,D,NaN,409968.0,1.0,3.0,262.0,127.0
273,373,C2135,1116,상가,부산광역시,임대상가,19.36,1,10.0,D,NaN,418176.0,1.0,3.0,262.0,127.0
274,374,C2135,1116,상가,부산광역시,임대상가,21.46,1,10.0,D,NaN,463536.0,1.0,3.0,262.0,127.0
275,376,C2135,1116,상가,부산광역시,임대상가,22.83,1,10.0,D,NaN,493128.0,1.0,3.0,262.0,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,605,C1439,1755,상가,부산광역시,임대상가,33.39,1,29.0,D,NaN,721224.0,1.0,3.0,270.0,172.0
418,607,C1439,1755,상가,부산광역시,임대상가,33.51,1,29.0,D,NaN,723816.0,1.0,3.0,270.0,172.0
419,612,C1439,1755,상가,부산광역시,임대상가,40.39,1,29.0,D,NaN,872424.0,1.0,3.0,270.0,172.0
420,614,C1439,1755,상가,부산광역시,임대상가,61.89,1,29.0,D,NaN,1336824.0,1.0,3.0,270.0,172.0
421,615,C1439,1755,상가,부산광역시,임대상가,404.65,1,29.0,D,NaN,8740440.0,1.0,3.0,270.0,172.0

In [59]:
deposit_jeju = deposit[deposit['지역'].str.contains('제주특별자치도')]
deposit_jeju['임대료'] = deposit_jeju['전용면적'] * 11320
deposit_jeju

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
432,630,C1056,410,상가,제주특별자치도,임대상가,31.84,1,0.0,D,NaN,360428.8,0.0,10.0,120.0,125.0
459,674,C1775,711,상가,제주특별자치도,임대상가,31.84,1,5.0,D,NaN,360428.8,0.0,8.0,131.0,96.0
460,688,C1775,711,상가,제주특별자치도,임대상가,137.49,1,5.0,D,NaN,1556386.8,0.0,8.0,131.0,96.0

In [60]:
deposit_choongnam = deposit[deposit['지역'].str.contains('충청남도')]
deposit_choongnam['임대료'] = deposit_choongnam['전용면적'] * 10000
deposit_choongnam

,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
92,101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,126200.0,NaN,2.0,97.0,62.0
93,102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,174000.0,NaN,2.0,97.0,62.0
94,104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,228900.0,NaN,2.0,97.0,62.0
95,105,C1874,619,상가,충청남도,임대상가,23.13,1,2.0,D,NaN,231300.0,NaN,2.0,97.0,62.0
96,107,C1874,619,상가,충청남도,임대상가,23.25,1,2.0,D,NaN,232500.0,NaN,2.0,97.0,62.0
97,108,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,277500.0,NaN,2.0,97.0,62.0
98,119,C1874,619,상가,충청남도,임대상가,28.19,1,2.0,D,NaN,281900.0,NaN,2.0,97.0,62.0
99,120,C1874,619,상가,충청남도,임대상가,34.80,1,2.0,D,NaN,348000.0,NaN,2.0,97.0,62.0
100,122,C1874,619,상가,충청남도,임대상가,42.35,1,2.0,D,NaN,423500.0,NaN,2.0,97.0,62.0
101,123,C1874,619,상가,충청남도,임대상가,42.40,1,2.0,D,NaN,424000.0,NaN,2.0,97.0,62.0
102,124,C1874,619,상가,충청남도,임대상가,49.37,1,2.0,D,NaN,493700.0,NaN,2.0,97.0,62.0
103,125,C1874,619,상가,충청남도,임대상가,55.17,1,2.0,D,NaN,551700.0,NaN,2.0,97.0,62.0
104,127,C1874,619,상가,충청남도,임대상가,55.50,1,2.0,D,NaN,555000.0,NaN,2.0,97.0,62.0
265,358,C1983,903,상가,충청남도,임대상가,31.84,1,3.0,D,NaN,318400.0,NaN,4.0,200.0,253.0
266,366,C1983,903,상가,충청남도,임대상가,63.68,1,3.0,D,NaN,636800.0,NaN,4.0,200.0,253.0
267,367,C1983,903,상가,충청남도,임대상가,126.65,1,3.0,D,NaN,1266500.0,NaN,4.0,200.0,253.0
437,644,C2644,779,상가,충청남도,임대상가,48.90,1,7.0,D,NaN,489000.0,NaN,12.0,190.0,177.0
438,645,C2644,779,상가,충청남도,임대상가,49.72,1,7.0,D,NaN,497200.0,NaN,12.0,190.0,177.0
508,766,C1004,521,상가,충청남도,임대상가,19.00,1,3.0,D,NaN,190000.0,NaN,2.0,153.0,93.0
509,767,C1004,521,상가,충청남도,임대상가,14.10,1,3.0,D,NaN,141000.0,NaN,2.0,153.0,93.0
510,768,C1004,521,상가,충청남도,임대상가,19.31,1,3.0,D,NaN,193100.0,NaN,2.0,153.0,93.0
511,769,C1004,521,상가,충청남도,임대상가,21.19,1,3.0,D,NaN,211900.0,NaN,2.0,153.0,93.0
512,771,C1004,521,상가,충청남도,임대상가,22.95,1,3.0,D,NaN,229500.0,NaN,2.0,153.0,93.0
513,772,C1004,521,상가,충청남도,임대상가,23.40,1,3.0,D,NaN,234000.0,NaN,2.0,153.0,93.0
514,776,C1004,521,상가,충청남도,임대상가,27.23,1,3.0,D,NaN,272300.0,NaN,2.0,153.0,93.0
515,777,C1004,521,상가,충청남도,임대상가,31.85,1,3.0,D,NaN,318500.0,NaN,2.0,153.0,93.0
516,778,C1004,521,상가,충청남도,임대상가,32.29,1,3.0,D,NaN,322900.0,NaN,2.0,153.0,93.0
517,779,C1004,521,상가,충청남도,임대상가,35.13,1,3.0,D,NaN,351300.0,NaN,2.0,153.0,93.0
518,780,C1004,521,상가,충청남도,임대상가,36.47,1,3.0,D,NaN,364700.0,NaN,2.0,153.0,93.0
519,781,C1004,521,상가,충청남도,임대상가,50.08,1,3.0,D,NaN,500800.0,NaN,2.0,153.0,93.0
520,782,C1004,521,상가,충청남도,임대상가,240.22,1,3.0,D,NaN,2402200.0,NaN,2.0,153.0,93.0
524,786,C1875,1003,상가,충청남도,임대상가,14.10,1,5.0,D,NaN,141000.0,NaN,8.0,192.0,209.0
525,787,C1875,1003,상가,충청남도,임대상가,18.98,1,5.0,D,NaN,189800.0,NaN,8.0,192.0,209.0
526,788,C1875,1003,상가,충청남도,임대상가,19.36,1,5.0,D,NaN,193600.0,NaN,8.0,192.0,209.0
527,789,C1875,1003,상가,충청남도,임대상가,21.46,1,5.0,D,NaN,214600.0,NaN,8.0,192.0,209.0
528,791,C1875,1003,상가,충청남도,임대상가,22.83,1,5.0,D,NaN,228300.0,NaN,8.0,192.0,209.0
529,792,C1875,1003,상가,충청남도,임대상가,23.40,1,5.0,D,NaN,234000.0,NaN,8.0,192.0,209.0
530,798,C1875,1003,상가,충청남도,임대상가,27.55,1,5.0,D,NaN,275500.0,NaN,8.0,192.0,209.0
531,799,C1875,1003,상가,충청남도,임대상가,29.17,1,5.0,D,NaN,291700.0,NaN,8.0,192.0,209.0
532,800,C1875,1003,상가,충청남도,임대상가,31.92,1,5.0,D,NaN,319200.0,NaN,8.0,192.0,209.0
533,801,C1875,1003,상가,충청남도,임대상가,32.60,1,5.0,D,NaN,326000.0,NaN,8.0,192.0,209.0
534,802,C1875,1003,상가,충청남도,임대상가,36.57,1,5.0,D,NaN,365700.0,NaN,8.0,192.0,209.0
535,803,C1875,1003,상가,충청남도,임대상가,50.08,1,5.0,D,NaN,500800.0,NaN,8.0,192.0,209.0
536,804,C1875,1003,상가,충청남도,임대상가,240.22,1,5.0,D,NaN,2402200.0,NaN,8.0,192.0,209.0

### 임대상가 임대료 데이터 불러오기
- 한국부동산원_상업용부동산 임대동향조사_임대정보_분기별 지역별 임대료(소규모상가)
- 단위: 제곱미터당 천원

In [29]:
shop_df = pd.read_csv('소규모상가임대료.csv', encoding='cp949')

In [30]:
shop_df['2022평균'] = (shop_df['2022_1분기']+shop_df['2022_2분기'])/2

In [52]:
shop_df

            지역  2022_1분기  2022_2분기  2022평균
0         전체        19.4      19.4   19.40
1         서울        49.0      49.1   49.05
2       서울 도심       65.9      65.9   65.90
3    서울 도심 광화문      81.4      81.5   81.45
4    서울 도심 남대문      62.4      62.6   62.50
..         ...       ...       ...     ...
249       제주        14.1      14.2   14.15
250  제주  광양사거리      12.3      12.3   12.30
251  제주  노형오거리      20.2      20.2   20.20
252  제주  서귀포도심      16.9      17.0   16.95
253  제주  중앙사거리      11.2      11.2   11.20

[254 rows x 4 columns]

In [33]:
kangwon = shop_df[shop_df['지역'].str.contains('강원')]
kangwon # 0.8 곱해서 강원도: 10120 결측치로 채우기

              지역  2022_1분기  2022_2분기  2022평균
159         강원        12.7      12.6   12.65
160     강원  강릉교동      17.3      17.3   17.30
161     강원  강릉중부      10.8      10.8   10.80
162      강원  묵호항      10.1      10.1   10.10
163   강원  삼척중앙시장      10.1      10.1   10.10
164   강원  속초중앙시장      19.4      19.3   19.35
165    강원  영월경찰서      10.6      10.6   10.60
166  강원  원주중앙/일산      16.9      16.8   16.85
167     강원  주문진항      11.7      11.7   11.70
168     강원  춘천명동      14.8      14.8   14.80
169   강원  태백중앙시장      11.0      11.0   11.00

In [34]:
kyungnam = shop_df[shop_df['지역'].str.contains('경남')]
kyungnam # 0.8 곱해서 경상남도: 10160 채우기

                지역  2022_1분기  2022_2분기  2022평균
232           경남        12.7      12.7   12.70
233       경남  거제고현      14.7      14.7   14.70
234       경남  거제옥포      13.3      13.3   13.30
235  경남  김해시청/동상시장      12.2      12.2   12.20
236      경남  마산동서동      13.9      14.0   13.95
237   경남  마산역버스터미널      16.1      16.2   16.15
238  경남  밀양원도심/삼문동      11.2      11.3   11.25
239      경남  양산구도심      10.4      10.4   10.40
240     경남  진주중앙시장      15.1      15.2   15.15
241       경남  진해석동      18.4      18.5   18.45
242       경남  창원시청      11.3      11.3   11.30
243        경남  창원역      15.6      15.6   15.60
244      경남  창원월영동      22.8      22.8   22.80
245     경남  창원의창구청       9.2       9.2    9.20
246     경남  통영 강구안      25.2      25.3   25.25
247        경남  평거동      14.9      14.9   14.90
248        경남  활천동      10.9      10.9   10.90

In [35]:
daejeon = shop_df[shop_df['지역'].str.contains('대전')]
daejeon # 0.8 곱해서 대전광역시: 10640 채우기

              지역  2022_1분기  2022_2분기  2022평균
113         대전        13.3      13.3   13.30
114       대전  노은      18.2      17.8   18.00
115    대전  복합터미널      11.4      11.4   11.40
116   대전  서대전네거리      19.2      19.2   19.20
117  대전  용문/한민시장      14.7      14.7   14.70
118      대전  원도심      14.8      14.7   14.75
119    대전  유성온천역      10.6      10.6   10.60

In [36]:
busan = shop_df[shop_df['지역'].str.contains('부산')]
busan # 0.8 곱해서 부산광역시: 21600 채우기

              지역  2022_1분기  2022_2분기  2022평균
60          부산        27.0      27.0   27.00
61   부산  경성대/부경대      34.2      34.3   34.25
62       부산  광안리      24.4      24.4   24.40
63  부산  구서동/금정구청      33.3      33.4   33.35
64       부산  남포동      45.2      45.1   45.15
65       부산  남항동      13.5      13.5   13.50
66       부산  덕천역      32.8      32.8   32.80
67       부산  동래역      28.4      28.5   28.45
68     부산  부산대학앞      34.1      34.6   34.35
69       부산  부산역      27.4      27.4   27.40
70      부산  부전시장      38.0      37.5   37.75
71       부산  사상역      21.4      21.4   21.40
72     부산  사직야구장      27.7      27.5   27.60
73     부산  서면/전포      25.4      25.5   25.45
74    부산  송정해수욕장      20.9      20.9   20.90
75       부산  수영역      26.6      26.6   26.60
76     부산  연산로터리      21.5      21.5   21.50
77       부산  온천장      19.9      20.0   19.95
78       부산  하단역      28.1      28.1   28.10
79       부산  해운대      39.9      40.0   39.95
80   부산  현대백화점주변      18.9      19.0   18.95

In [37]:
jeju = shop_df[shop_df['지역'].str.contains('제주')]
jeju # 0.8 곱해서 제주특별자치도: 11320 채우기

            지역  2022_1분기  2022_2분기  2022평균
249       제주        14.1      14.2   14.15
250  제주  광양사거리      12.3      12.3   12.30
251  제주  노형오거리      20.2      20.2   20.20
252  제주  서귀포도심      16.9      17.0   16.95
253  제주  중앙사거리      11.2      11.2   11.20

In [39]:
choongnam = shop_df[shop_df['지역'].str.contains('충남')]
choongnam # 0.8 곱해서 충청남도: 10000 채우기

                지역  2022_1분기  2022_2분기  2022평균
179           충남        12.5      12.5   12.50
180     충남  강경젓갈시장       7.5       7.5    7.50
181        충남  공주대      11.6      11.6   11.60
182      충남  공주웅진동      14.6      14.6   14.60
183  충남  논산시외버스터미널      13.5      13.4   13.45
184       충남  당진시청      15.6      15.7   15.65
185         충남  두정      14.1      14.1   14.10
186        충남  배방읍      18.3      18.4   18.35
187    충남  보령문화의전당      12.7      12.7   12.70
188      충남  서산터미널      15.9      15.8   15.85
189       충남  아산온양      13.5      13.5   13.50
190       충남  예산시장       8.4       8.3    8.35
191        충남  천안역      15.5      15.5   15.50
192  충남  천안종합버스터미널      19.7      19.8   19.75
193      충남  태안터미널      10.2      10.2   10.20
194    충남  합덕버스터미널       7.9       7.9    7.90

In [ ]:
{'강원도':10120, '경상남도':10160, '대전광역시':10640, '부산광역시':21600, '제주특별자치도':11320, '충청남도':10000}