In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
# 한글 문제
# matplotlit의 기본 폰트에서 한글 지원되지 않기 때문에
# matplotlib의 폰트 변경 필요
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')

In [4]:
train = pd.read_csv('./parking_data/train.csv')

In [ ]:
age_gender = pd.read_csv('./parking_data/age_gender_info.csv')

### 오류데이터
- 48개 단지
- ['C1925', 'C1312', 'C2013', 'C1424', 'C2520', 'C2319', 'C1850', 'C1068', 'C2644', 'C2156', C2453', 'C1910', 'C2139', 'C2508', 'C1695', 'C2556', 'C2362', 'C2568', 'C2245', 'C2549', 'C1584', 'C2298', 'C2225', 'C1218', 'C1970', C1732', 'C2433', 'C1894', 'C1156', 'C2142', 'C2186', 'C2411', 'C1812', 'C1030', 'C1749', 'C1349', 'C2043', 'C1229', 'C2363', 'C1414', C2174', 'C2404', 'C1683', 'C1038', 'C2456', 'C1266', 'C1267', 'C2189']

In [5]:
train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [6]:
error_data = ['C1925', 'C1312', 'C2013', 'C1424', 'C2520', 'C2319', 'C1850', 'C1068', 'C2644', 'C2156', 'C2453', 'C1910', 'C2139', 'C2508', 'C1695', 'C2556', 'C2362', 'C2568', 'C2245', 'C2549', 'C1584', 'C2298', 'C2225', 'C1218', 'C1970', 'C1732', 'C2433', 'C1894', 'C1156', 'C2142', 'C2186', 'C2411', 'C1812', 'C1030', 'C1749', 'C1349', 'C2043', 'C1229', 'C2363', 'C1414', 'C2174', 'C2404', 'C1683', 'C1038', 'C2456', 'C1266', 'C1267', 'C2189']

In [7]:
for error in error_data :
    train = train[train['단지코드'] != error]

In [8]:
train.info() # 오류데이터 170개 제거, null 존재 컬럼 : [임대보증금, 임대료, 근처 지하철역, 근처 버스정류장]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2781 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2781 non-null   object
 1   총세대수                          2781 non-null   int64
 2   임대건물구분                        2781 non-null   object
 3   지역                            2781 non-null   object
 4   공급유형                          2781 non-null   object
 5   전용면적                          2781 non-null   float64
 6   전용면적별세대수                      2781 non-null   int64
 7   공가수                           2781 non-null   float64
 8   자격유형                          2781 non-null   object
 9   임대보증금                         2219 non-null   object
 10  임대료                           2219 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2594 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2777 non-null   float64
 13  단지내주차면수                       2781 non-null   float64
 14  등록차량수                         2781 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 347.6+ KB

In [108]:
train.isnull().sum().to_frame()

                                0
단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            0
임대보증금                         562
임대료                           562
도보 10분거리 내 지하철역 수(환승노선 수 반영)  187
도보 10분거리 내 버스정류장 수              4
단지내주차면수                         0
등록차량수                           0

In [99]:
train['공급유형'].value_counts()

국민임대         1715
임대상가          555
공공임대(10년)     205
영구임대          141
행복주택          112
공공임대(50년)      22
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

In [100]:
train['자격유형'].value_counts()

A    1772
D     562
H     132
C      89
I      44
J      43
E      37
N      30
L      27
B      21
G       9
K       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64

In [104]:
train[train['임대료'].isnull()]['공급유형'].value_counts()

임대상가    555
공공분양      7
Name: 공급유형, dtype: int64

- 임대료, 임대보증금 nulㅣ 값 개수: 562개 (임대상가+공공분양)
- 도보 10분거리 내 지하철역 수 : 187개
- 도보 10분거리 내 버스정류장 수 : 4개

### 한 단지안에 공급유형이 여러 유형일 수 있는지, 자격유형이 여러 유형일 수 있는지
- 거의 한가지 유형일 듯

In [86]:
train.groupby('단지코드').count() # 총 392개의 단지

,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
단지코드,,,,,,,,,,,,,,
C1000,7,7,7,7,7,7,7,7,7,7,7,7,7,7
C1004,19,19,19,19,19,19,19,19,2,2,0,19,19,19
C1005,3,3,3,3,3,3,3,3,3,3,0,3,3,3
C1013,5,5,5,5,5,5,5,5,5,5,5,5,5,5
C1014,7,7,7,7,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2663,6,6,6,6,6,6,6,6,6,6,6,6,6,6
C2666,6,6,6,6,6,6,6,6,6,6,6,6,6,6
C2670,5,5,5,5,5,5,5,5,5,5,5,5,5,5
C2680,3,3,3,3,3,3,3,3,3,3,3,3,3,3
C2692,5,5,5,5,5,5,5,5,5,5,5,5,5,5

In [84]:
train.groupby('단지코드')['공급유형'].unique().value_counts() # 한 단지안에는 거의 한 공급유형이 존재

[국민임대]          282
[공공임대(10년)]      34
[행복주택]           14
[공공임대(50년)]       5
[국민임대, 영구임대]      1
               ...
[영구임대, 임대상가]      1
[영구임대, 임대상가]      1
[영구임대, 임대상가]      1
[국민임대, 영구임대]      1
[국민임대, 영구임대]      1
Name: 공급유형, Length: 61, dtype: int64

In [82]:
# 한 단지안에 공긍유형 종류
a = list(train.groupby('단지코드')['공급유형'].unique().value_counts().index)
a.sort(key=len)
a

[array(['국민임대'], dtype=object),
 array(['공공임대(10년)'], dtype=object),
 array(['행복주택'], dtype=object),
 array(['공공임대(50년)'], dtype=object),
 array(['영구임대'], dtype=object),
 array(['공공임대(5년)'], dtype=object),
 array(['장기전세'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['공공임대(10년)', '공공임대(분납)'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['국민임대', '행복주택'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['공공임대(10년)', '공공임대(분납)'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['국민임대', '영구임대'], dtype=object),
 array(['공공임대(50년)', '영구임대', '임대상가'], dtype=object),
 array(['장기전세', '국민임대', '영구임대'], dtype=object),
 array(['공공분양', '공공임대(10년)', '공공임대(분납)'], dtype=object),
 array(['공공임대(50년)', '영구임대', '임대상가'], dtype=object),
 array(['국민임대', '영구임대', '행복주택'], dtype=object)]

In [85]:
train.groupby('단지코드')['자격유형'].unique().value_counts() # 거의 한 단지 안에는 한 자격 유형의 사람

[A]          293
[H]           15
[J]            6
[L]            3
[B]            3
            ...
[H, I, L]      1
[A, C, D]      1
[C, D]         1
[C, D]         1
[A, I]         1
Name: 자격유형, Length: 76, dtype: int64

In [83]:
# 한 단지안에 자격유형 종류
b = list(train.groupby('단지코드')['자격유형'].unique().value_counts().index)
b.sort(key=len)
b

[array(['A'], dtype=object),
 array(['H'], dtype=object),
 array(['J'], dtype=object),
 array(['L'], dtype=object),
 array(['B'], dtype=object),
 array(['N'], dtype=object),
 array(['C'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['H', 'A'], dtype=object),
 array(['H', 'I'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['H', 'J'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['A', 'H'], dtype=object),
 array(['E', 'A'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['H', 'I'], dtype=object),
 array(['D', 'A'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['E', 'A'], dtype=object),
 array(['H', 'I'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['A', 'E'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'C'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['K', 'L'], dtype=object),
 array(['K', 'J'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['C', 'D'], dtype=object),
 array(['A', 'I'], dtype=object),
 array(['G', 'A', 'E'], dtype=object),
 array(['A', 'E', 'I'], dtype=object),
 array(['F', 'C', 'D'], dtype=object),
 array(['A', 'H', 'I'], dtype=object),
 array(['E', 'H', 'I'], dtype=object),
 array(['G', 'A', 'H'], dtype=object),
 array(['E', 'H', 'I'], dtype=object),
 array(['C', 'E', 'D'], dtype=object),
 array(['M', 'N', 'O'], dtype=object),
 array(['A', 'C', 'D'], dtype=object),
 array(['H', 'I', 'L'], dtype=object),
 array(['A', 'C', 'D'], dtype=object)]

In [69]:
train.groupby('단지코드')['공급유형'].unique()

단지코드
C1000          [국민임대]
C1004    [영구임대, 임대상가]
C1005          [국민임대]
C1013          [국민임대]
C1014          [국민임대]
             ...
C2663          [국민임대]
C2666          [국민임대]
C2670          [국민임대]
C2680          [국민임대]
C2692          [국민임대]
Name: 공급유형, Length: 392, dtype: object

In [52]:
train.groupby('공급유형')['자격유형'].unique()

공급유형
공공분양                        [D]
공공임대(10년)                   [A]
공공임대(50년)                   [A]
공공임대(5년)                    [A]
공공임대(분납)                    [A]
국민임대            [A, B, E, G, H]
영구임대            [C, E, F, I, A]
임대상가                        [D]
장기전세                        [A]
행복주택         [J, K, L, M, N, O]
Name: 자격유형, dtype: object

In [53]:
train.groupby('자격유형')['공급유형'].unique()

자격유형
A    [국민임대, 공공임대(50년), 공공임대(10년), 공공임대(분납), 장기전세, 영...
B                                               [국민임대]
C                                               [영구임대]
D                                         [임대상가, 공공분양]
E                                         [영구임대, 국민임대]
F                                               [영구임대]
G                                               [국민임대]
H                                               [국민임대]
I                                               [영구임대]
J                                               [행복주택]
K                                               [행복주택]
L                                               [행복주택]
M                                               [행복주택]
N                                               [행복주택]
O                                               [행복주택]
Name: 공급유형, dtype: object

#### 공급유형 -> 자격유형
- 국민임대 -> A, B, E, G, H
- 공공임대(5년, 10년, 50년, 분납) -> A
- 공공분양 -> D
- 영구임대 -> C I 일부 A E F
- 임대상가 -> D
- 장기전세 -> A
- 행복주택 -> J K L M N O

**자격유형->공급유형**
- A  ->  국민임대, 공공임대(5년,10년,50년,분납), 장기전세, 영구임대
- B  ->                                             국민임대
- C   ->                                            영구임대
- D    ->                                     임대상가, 공공분양
- E      ->                                   영구임대, 국민임대
- F        ->                                       영구임대
- G          ->                                     국민임대
- H            ->                                   국민임대
- I              ->                                 영구임대
- J                ->                               행복주택
- K                  ->                             행복주택
- L                    ->                           행복주택
- M                      ->                         행복주택
- N                        ->                       행복주택
- O                          ->                     행복주택

### 단지코드 - 공급유형 - 자격유형 간에는 당연히 높은 상관관계가 있을거라고 생각됨

In [106]:
train.loc[train['도보 10분거리 내 버스정류장 수'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2315,C1649,575,아파트,경상남도,공공임대(10년),74.97,80,15.0,A,46000000,456000,NaN,NaN,1066.0,855.0
2316,C1649,575,아파트,경상남도,공공임대(10년),84.95,124,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2317,C1649,575,아파트,경상남도,공공임대(10년),84.96,289,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2318,C1649,575,아파트,경상남도,공공임대(10년),84.98,82,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0

- 버스 정류장 데이터가 없는 단지는 단 하나 뿐

In [112]:
print('전체 단지 수: ', train['단지코드'].nunique())
print('상가 보유 단지 수: ', train.loc[train['임대건물구분'] == '상가']['단지코드'].nunique())
print('상가 보유 단지: ', train.loc[train['임대건물구분'] == '상가']['단지코드'].unique())

전체 단지 수:  392
상가 보유 단지 수:  31
상가 보유 단지:  ['C1874' 'C2416' 'C2621' 'C1616' 'C1704' 'C2258' 'C2038' 'C1859' 'C1722'
 'C2190' 'C1476' 'C1983' 'C2135' 'C2034' 'C1109' 'C2289' 'C2597' 'C2310'
 'C2132' 'C1439' 'C1899' 'C1056' 'C1206' 'C1775' 'C1790' 'C2109' 'C1698'
 'C1004' 'C1875' 'C2212' 'C2571']

In [114]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2781 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2781 non-null   object
 1   총세대수                          2781 non-null   int64
 2   임대건물구분                        2781 non-null   object
 3   지역                            2781 non-null   object
 4   공급유형                          2781 non-null   object
 5   전용면적                          2781 non-null   float64
 6   전용면적별세대수                      2781 non-null   int64
 7   공가수                           2781 non-null   float64
 8   자격유형                          2781 non-null   object
 9   임대보증금                         2219 non-null   object
 10  임대료                           2219 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2594 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2777 non-null   float64
 13  단지내주차면수                       2781 non-null   float64
 14  등록차량수                         2781 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 412.2+ KB

In [138]:
# 범주형 피처 제외 각 피처 간 상관관계
temp = train
temp.groupby('단지코드')[['총세대수', '전용면적', '전용면적별세대수','공가수','임대보증금','임대료','도보 10분거리 내 지하철역 수(환승노선 수 반영)','도보 10분거리 내 버스정류장 수','단지내주차면수','등록차량수']].mean().corr()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
총세대수,1.000000,0.002764,0.393595,0.291224,0.092756,0.104082,0.734147,0.582352
전용면적,0.002764,1.000000,0.077597,-0.149815,-0.044616,0.019034,0.162212,0.340304
전용면적별세대수,0.393595,0.077597,1.000000,0.361113,-0.059080,0.094072,0.502028,0.404229
공가수,0.291224,-0.149815,0.361113,1.000000,-0.100842,0.099328,0.394044,0.196848
도보 10분거리 내 지하철역 수(환승노선 수 반영),0.092756,-0.044616,-0.059080,-0.100842,1.000000,0.101677,-0.006769,-0.029503
도보 10분거리 내 버스정류장 수,0.104082,0.019034,0.094072,0.099328,0.101677,1.000000,0.101682,0.118139
단지내주차면수,0.734147,0.162212,0.502028,0.394044,-0.006769,0.101682,1.000000,0.855055
등록차량수,0.582352,0.340304,0.404229,0.196848,-0.029503,0.118139,0.855055,1.000000

In [133]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2781 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2781 non-null   object
 1   총세대수                          2781 non-null   int64
 2   임대건물구분                        2781 non-null   object
 3   지역                            2781 non-null   object
 4   공급유형                          2781 non-null   object
 5   전용면적                          2781 non-null   float64
 6   전용면적별세대수                      2781 non-null   int64
 7   공가수                           2781 non-null   float64
 8   자격유형                          2781 non-null   object
 9   임대보증금                         2219 non-null   object
 10  임대료                           2219 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2594 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2777 non-null   float64
 13  단지내주차면수                       2781 non-null   float64
 14  등록차량수                         2781 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 412.2+ KB

In [136]:
temp['임대보증금'].replace('-','', inplace=True)
temp['임대료'].replace('-','', inplace=True)

### 데이터 분포

In [110]:
# 트레인 데이터 통계치
train.describe().T

,count,mean,std,min,25%,50%,75%,max
총세대수,2781.0,898.147429,518.155042,26.00,514.00,785.00,1116.00,2568.0
전용면적,2781.0,45.559878,32.570334,12.62,33.55,45.53,51.76,583.4
전용면적별세대수,2781.0,102.026250,133.180287,1.00,14.00,60.00,141.00,1865.0
공가수,2781.0,12.430780,10.211045,0.00,3.00,10.00,19.00,55.0
도보 10분거리 내 지하철역 수(환승노선 수 반영),2594.0,0.179645,0.425872,0.00,0.00,0.00,0.00,3.0
도보 10분거리 내 버스정류장 수,2777.0,3.692114,2.644782,0.00,2.00,3.00,4.00,20.0
단지내주차면수,2781.0,608.851133,400.148937,13.00,287.00,521.00,834.00,1798.0
등록차량수,2781.0,573.714491,440.160271,13.00,236.00,504.00,783.00,2550.0